:root {--orange: #FFAB51;}
html {
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Roboto', Arial, sans-serif;
    /*font-family: 'Gochi Hand', cursive;*/
    font-size: 16px;
}
#root {
    flex: 1;
    display: flex;
}

.app-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.menu-item__link {
    display: flex;
    flex: 1;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.page {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    min-height: 50px;
    flex-shrink: 0;
    display: flex;
}
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.menu {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.menu_theme_orange{
    background-color: #FFD7A7;
    border-bottom: 1px solid var(--orange);
}

.header__menu {
    margin: 0;
}

.menu__item {
    display: flex;
    flex: 1;
    height: 100%;
    max-width: 120px;
}

.menu__item_border {
    border-right: 1px solid var(--orange);
}

.menu__item:hover {
    background: var(--orange);
}

.menu-item__link_color_is_orange{
    color: #9B4222;
}
